**English:** Import libraries and create a DataFrame with cricket player data.
**Hindi:** Libraries import karein aur cricket player data ke saath ek DataFrame banayein.

In [5]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Sachin', 'Rohit', 'Virat', 'Rahul', 'Surya', 'Hardik'],
    'Age': [24, 27, 31, 25, 29, 28],
    'Runs': [350, 420, 510, 300, 480, 390],
    'Team': ['MI', 'MI', 'RCB', 'LSG', 'MI', 'GT']
}
df =pd.DataFrame(data)

**English:** Display the DataFrame.
**Hindi:** DataFrame ko display karein.

In [6]:
df

**English:** Filter for players who scored more than 400 runs.
**Hindi:** 400 se zyada run banane wale players ko filter karein.

In [7]:
df[df['Runs'] > 400]

**English:** Sort players by runs in descending order.
**Hindi:** Players ko runs ke hisab se descending order mein sort karein.

In [9]:
df.sort_values(by='Runs',ascending = False)

**English:** Filter for players whose name starts with 'S'.
**Hindi:** Un players ko filter karein jinka naam 'S' se shuru hota hai.

In [12]:
df[df['Name'].str.startswith('S',na =False)]

**English:** Get the unique team names from the 'Team' column.
**Hindi:** 'Team' column se unique team names prapt karein.

In [14]:
df['Team'].unique()

**English:** Count the number of players in each team.
**Hindi:** Har team mein players ki sankhya ginein.

In [15]:
df['Team'].value_counts()

**English:** Filter for players who are aged 24 or 31, showing only their Name and Runs.
**Hindi:** 24 ya 31 saal ke players ke liye filter karein, sirf unka Naam aur Runs dikhayein.

In [20]:
df[df['Age'].isin([24,31])][['Name','Runs']]

**English:** Group by 'Team' and calculate the average, minimum, and maximum runs for each team.
**Hindi:** 'Team' se group karein aur har team ke liye average, minimum, aur maximum runs calculate karein.

In [21]:
df.groupby('Team').agg(
    avg_runs =('Runs','mean'),
    min_runs =('Runs','min'),
    max_runs =('Runs','max')).round()

**English:** Create a second DataFrame `df1` for demonstrating merging and cleaning operations.
**Hindi:** Merging aur cleaning operations demonstrate karne ke liye ek doosra DataFrame `df1` banayein.

In [25]:
data1 = {
    'Name': ['Sachin', 'Sneha', 'Rohit', 'Ankit', 'Priya'],
    'Age': [23, np.nan, 25, np.nan, 29],
    'City': ['Kolhapur', 'Pune', np.nan, 'Mumbai', 'Delhi'],
    'Score': [85, 90, np.nan, 70, 95]
}
df1 = pd.DataFrame(data1)

**English:** Fill missing values in `df1`: 'Age' with the mean, 'City' with 'unknown', and 'Score' with 0.
**Hindi:** `df1` mein missing values bharein: 'Age' ko mean se, 'City' ko 'unknown' se, aur 'Score' ko 0 se.

In [28]:
df1.fillna({'Age':df1['Age'].mean(),'City': 'unknown','Score':0},inplace=True)

**English:** Change 'Age' data type to integer.
**Hindi:** 'Age' data type ko integer mein badlein.

In [29]:
df1['Age']=df1['Age'].astype(int)

**English:** Create a 'category' column based on age ('senior' or 'junior').
**Hindi:** Age ke aadhar par ek 'category' column banayein ('senior' ya 'junior').

In [41]:
df1.loc[df1['Age']> 28,'category']= 'senior'
df1.loc[df1['Age'] < 28 ,'category']='junior'

**English:** Display the modified `df1`.
**Hindi:** Modified `df1` ko display karein.

In [42]:
df1

**English:** Import matplotlib for plotting.
**Hindi:** Plotting ke liye matplotlib import karein.

In [48]:
import matplotlib.pyplot as plt

**English:** Create a bar plot from the `df1` DataFrame.
**Hindi:** `df1` DataFrame se ek bar plot banayein.

In [67]:
df1.plot(kind ='bar',color=['blue','green'])
plt.show()

**English:** Create a scatter plot of 'Score' vs 'Age'.
**Hindi:** 'Score' vs 'Age' ka ek scatter plot banayein.

In [61]:
df1.plot(x='Score',y='Age',kind='scatter',color='brown')
plt.show()